.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: white;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    margin-bottom: 16px;
}

.logo {
    width: 140px;
}

header {
    max-width: 1280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
}

.icon-border {
    border-width: 2px;
    border-style: solid;
    border-color: #1f2937; 
    border-radius: 9999px; 
    padding: 4px; 
    display: flex;
    justify-content: center;
    align-items: center;
}